.container {
    width: 100%;
    position: relative;
}

span:hover {
    background-position: 0 bottom;
}

.graph {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.heartShaped {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgba(255, 20, 147);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.heartShaped:before,
.heartShaped:after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255, 20, 147);
    z-index: -1;
}

.heartShaped:after {
    top: -20px;
    left: 0;
}

.bubble {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 140, 255);
    width: 70px;
    height: 40px;
    border-radius: 5px;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: rgb(0, 140, 255);
    border-bottom: 0;
    border-left: 0;
    width: 0;
    margin: 0 0 -10px -5px;
}

.notching {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 40px;
    transform: translate(-50%,-50%);
    background: 
    linear-gradient(135deg, transparent 7px, deeppink 0) top left,
    linear-gradient(-135deg, transparent 7px, deeppink 0) top right,
    linear-gradient(-45deg, transparent 7px, deeppink 0) bottom right,
    linear-gradient(45deg, transparent 7px, deeppink 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.arc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 40px;
    background:
    radial-gradient(circle at top left,transparent 7px, yellowgreen 0) top left,
    radial-gradient(circle at top right,transparent 7px, yellowgreen 0) top right,
    radial-gradient(circle at bottom right,transparent 7px, yellowgreen 0) bottom right,
    radial-gradient(circle at bottom left,transparent 7px, yellowgreen 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.pesudo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 40px;
    background: #11ec98;
    cursor: pointer;
    border-radius: 7px;
}
.pesudo:hover {
    background: #10aa6f;
}

.trapezoid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 40px;
}
.trapezoid::before {
    content: "";
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    transform:perspective(70px) scaleY(1.3) rotateX(20deg);
    transform-origin: bottom;
    background:#9f64cf;
    z-index:-1;

}

.dingwei {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
}
.dingwei:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '';
    height: 15px;
    width: 15px;
    border: 7px solid #11ec98;
    z-index: 1;
    background: #fff;
    border-radius: 20px;
    margin: -10px 0 0 0;
}
.dingwei:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '';
    height: 0px;
    width: 0px;
    border: 20px solid transparent;
    border-top-color: #11ec98;
    border-width: 20px 13px 0px 13px;
    margin: 8px 0 0 0; 
}

.addFile {
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px dashed;
    color: #ec771c;
    transition: color .25s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.addFile:hover {
    color: #34538b;
}
.addFile:before, .addFile:after {
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
}
.addFile:before {
    width: 20px;
    border-top: 4px solid;
    margin: -2px 0 0 -10px;
}
.addFile:after {
    height: 20px;
    border-left: 4px solid;
    margin: -10px 0 0 -2px;
}

.pie{
    position: absolute;
    top:50%;left: 50%;
    transform:translate(-50%,-50%);
    width: 70px;height:70px;
    border-radius:50%;
    text-align: center;
    color: white;
    font-size: 200%;
    background-color:yellowgreen;
    overflow:hidden;
    background-image:
    linear-gradient(to right, transparent 50%, #655 0);
    cursor:pointer;
  }
  .pie:before{
    content:"";
    position:absolute;
    top:0;left:50%;
    width:50%;height:100%;
    background-color: inherit;
    transform-origin: left;
    z-index:-1;
    transform:rotate(.1turn);
  }
  .pie:hover:before{
    transition:all 1s;
    transform:rotate(.45turn);
  }

  .parallelogram {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 70px;
  }
  .parallelogram:before {
      content: "";
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
      background: #00aabb;
      transform: skew(.08turn);
  }

  .diamond {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 50px;
      height: 50px;
  }
  .diamond:before {
      content: "";
      position: absolute;left: 0;top: 0;right: 0;bottom: 0;
      background: #9f64cf;
      transform: rotateZ(45deg);
  }

  .corner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(-150deg,transparent 10px,yellowgreen 0);
      border-radius: 5px;
      width: 50px;
      height: 60px;
  }
  .corner:before {
      content: '';
      top: 0;
      right: 0;
      position: absolute;
      background: linear-gradient(to left bottom,transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
      width: 13px;height: 22px;
      transform: translateY(-10px) rotate(-30deg);
      transform-origin: bottom right;
      border-bottom-left-radius: inherit;
      box-shadow: -.2px .2px .3px -.1px rgba(0,0,0,.15);
  }
